{
  "env": {
    "browser": true,
    "node": false
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-indent": "off"
  }
}
